body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}
.header {
    background: #8B0000;
    color: white;
    padding: 20px;
    text-align: center;
}
.nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background: #E50914;
    border-radius: 5px;
}
.hero {
    padding: 50px;
    text-align: center;
    background: #ffe4b5;
}
.services, .content {
    padding: 30px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}
.footer {
    background: #8B0000;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}
.logo {
    width: 80px;
    height: auto;
}
.content, .services {
    border-radius: 15px;
}
.content, .services {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0);
}
.products-container {
    width: 90px;
    margin: auto;
    padding: 30px 0;
    max-width: 1100px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(180px, 1fr));
    gap: 20px;
}
.product-card {
    background: #111;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid goldenrod;
    text-align: center;
}
.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.product-card p {
    color: gold;
    font-weight: bold;
    margin: 0;
}
.btn {
    background: gold;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.call-btn {
    background: #28a745;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}
.call-btn:hover {
    opacity: 0.8;
}
.map-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border: 2px solid gold;
    border-radius: 10px;
    overflow: hidden;
}